In [49]:
import pandas as pd
netflix_titles = pd.read_csv('netflix_titles.csv', delimiter=',', usecols=['release_year']).value_counts().reset_index()
netflix_titles.columns = ['year', 'count']
netflix_titles

    year  count
0   2018   1147
1   2017   1032
2   2019   1030
3   2020    953
4   2016    902
..   ...    ...
69  1959      1
70  1961      1
71  1947      1
72  1966      1
73  1925      1

[74 rows x 2 columns]

AttributeError: 'Series' object has no attribute 'release_year'